body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", fantasy;
}

h2 {
    color: rgb(242, 84, 216);
}

header {
    padding: 30px;
    background-image: linear-gradient(to left, #f8f0f0, #cd127f, #11050d);
    color: black;
}

header h2 {
    color: #fbf2fb;
}

footer {
    background-image: linear-gradient(to right, #f8f0f0, #cd127f, #11050d);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD;
}

.navbar-toggler {
    margin-left: auto;
}

.accordion-button {
    background-color: #d3d3d3;
}
.carousel-caption {
    background-color: rgba(193, 9, 134, 0.5);
}
.carousel {
    border: solid #e4089b;
}